<div class="GalleryCard">
  <a data-fancybox="gallery" data-caption="{{element.Caption}}" href="/assets/images/gallery/{{element.image}}" class="GalleryCardImage">
    <img class="{{element.type}}" src="/assets/images/gallery/{{element.image}}" alt={{element.name}}"">
  </a>
  <span class="GalleryCardName">{{element.name}}</span>
</div>
