<!--<div class="project">
    <img src="{{datosFicha.imagen}}" alt="{{datosFicha.nombre}}">
</div>-->

<div class="GalleryCard">
  <div class="GalleryCardImage">
    <img class="{{element.type}}" src="/assets/images/gallery/{{element.image}}" alt={{element.name}}"">
  </div>
  <!--<p class="GalleryCardName">{{element.name}}</p>-->
</div>
