  <div class="footer">
    <p class="footerLogo">ANDRO</p>
    <div class="footerContactContainer">
      <p class="footerContact">tel: 5513080696</p>
      <p class="footerContact">ig: @andro_dlr</p>
      <p class="footerContact">erkdlr2018@gmail.com</p>
    </div>

    <svg class="LineA" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58.11 567.64"><defs><style>.cls-1{fill:none;stroke-width: 3px;stroke:#4e4d4d;stroke-miterlimit:10;}</style></defs><g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1"><polyline class="cls-1" points="57.4 567.28 0.71 510.59 57.4 453.9 0.71 397.2 57.4 340.51 0.71 283.82 57.4 227.13 0.71 170.43 57.4 113.74 0.71 57.05 57.4 0.35"/></g></g></svg>
    <svg class="LineB" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58.11 567.64"><defs><style>.cls-1{fill:none;stroke-width: 3px;stroke:#4e4d4d;stroke-miterlimit:10;}</style></defs><g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1"><polyline class="cls-1" points="0.71 0.35 57.4 57.05 0.71 113.74 57.4 170.43 0.71 227.13 57.4 283.82 0.71 340.51 57.4 397.2 0.71 453.9 57.4 510.59 0.71 567.28"/></g></g></svg>
  </div>

  <!--<script src="/assets/scripts/archivo.js"></script>-->

  <script src="/assets/scripts/navigation.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

  <script src="https://unpkg.com/feather-icons"></script>
  <script>
    feather.replace()
  </script>
  </body>
</html>
