---
layout: layouts/base.njk
title: Contact
eleventyNavigation:
  key: contact
  title: CONTACT & WORK ENQUIRIES
  order: 5
---

<div class="MarginContainer">
  <div class="ContactContainer">
    <p class="ContactTitle">CONTACT</p>
    <div class="ContactGridContainer">
      <div class="ContactTextContainer">
        <p class="ContactText">If you have a work related enquiry you can text me in the following contact means or fill out the form and start a conversation.</p>
        <p class="ContactText">If it's not an work enquerie, you can also send me a message.</p>
        <p class="ContactText"> I will enjoy reading what you have to say.</p>
        <p class="ContactTextAlt"><span class="ContactTextBold">e-mail: </span>erkdlr2018@gmail.com</p>
        <p class="ContactTextAlt"><span class="ContactTextBold">Instagram: </span>@andro_dlr</p>
        <p class="ContactTextAlt"><span class="ContactTextBold">cel: </span>5513080696</p>
        <!--<span class="ContactSpacer"></span>-->
      </div>
      <form name="Contacto" data-netlify="true" method="POST" class="ContactFormContainer">
        <div class="ContactFormRow">
          <div class="ContactInputContainer">
            <p class="ContactInputLabel">Name</p>
            <input class="ContactInput" id="FirstName" type="text" name="Nombre" value="">
            <p class="ContactInputLabelAlt">First Name</p>
          </div>
          <div class="ContactInputContainer">
            <input class="ContactInput" id="LastName" type="text" name="Apellidos" value="">
            <p class="ContactInputLabelAlt">Last Name</p>
          </div>
        </div>
        <div class="ContactFormRow">
          <div class="ContactInputContainer">
            <p class="ContactInputLabel">Email Address</p>
            <input class="ContactInput" id="Email" type="text" name="Email" value="">
          </div>
        </div>
        <div class="ContactFormRow">
          <div class="ContactInputContainer">
            <p class="ContactInputLabel">Subject</p>
            <input class="ContactInput" id="Subject" type="text" name="Asunto" value="">
          </div>
        </div>
        <div class="ContactFormRow">
          <div class="ContactInputContainer">
            <p class="ContactInputLabel">Message</p>
            <textarea class="ContactInputMessage" id="Message" name="Mensaje" rows="8" cols="80"></textarea>
          </div>
        </div>
        <button class="ContactFormButton" type="submit" name="Enviar">Submit</button>

      </form>
    </div>
  </div>
</div>
<div class="AboutMeBannerContainer">
  <img src="/assets/images/Proceso.png" alt="">
</div>
