---
layout: layouts/base.njk
title: Cv
eleventyNavigation:
  key: cv
  title: About Me
  order: 3
---
<div class="AboutMeBannerContainer">
  <img src="/assets/images/me.jpg" alt="">
</div>
<div class="MarginContainer">
  <!-- Section Start -->
  <div class="AboutMeTitleContainer">
    <p class="AboutMeTitle">ABOUT ME</p>
  </div>

  <div class="AboutMeContainer">
    <div class="AboutMeImageLeft">
      <img src="/assets/images/sketchordie.jpg" alt="">
    </div>
    <div class="AboutMeTextContainer">
      <p class="AboutMeTextAbstract">I have been drawing since I have memory use, during high school thanks to a series of Sprite tv spots I knew what the work of an illustrator was, so I looked for a way to become an illustrator by myself, my desire to learn made me dabble in design and eventually to study at EDINBA, where I met other illustrators who teach me what I need to became a good illustrator and even undertake some small projects where I could implement the illustration, since then I have spent my time learning different digital and traditional illustration techniques with which to solve my projects.</p>

      <p class="AboutMeTextAbstract">My illustration and design work have allowed me to collaborate with cultural events, clothing brands and magazines, as well as clients from Mexico, Argentina and other parts of Latin America.</p>
    </div>
  </div>
  <!-- Section End -->

  <!-- Section Start -->
  <div class="AboutMeTitleContainer">
    <p class="AboutMeTitle">SOME SKILLS</p>
  </div>

  <div class="AboutMeContainer">
    <div class="SkillContainer">
      <div class="SkillGraphicContainer">
        <img src="/assets/images/Skill_1.png" alt="">
      </div>
      <div class="SkillGraphicContainer">
        <img src="/assets/images/Skill_2.png" alt="">
      </div>
      <div class="SkillGraphicContainer">
        <img src="/assets/images/Skill_3.png" alt="">
      </div>
      <div class="SkillGraphicContainer">
        <img src="/assets/images/Skill_4.png" alt="">
      </div>
      <div class="SkillGraphicContainer">
        <img src="/assets/images/Skill_5.png" alt="">
      </div>
    </div>
  </div>
  <!-- Section End -->

  <!-- Section Start -->
  <div class="AboutMeTitleContainer">
    <p class="AboutMeTitle">EDUCATION</p>
  </div>

  <div class="AboutMeContainer">
    <div class="AboutMeTextContainer">
      <div class="EducationContainer">
        <p class="AboutMeText"><span class="AboutMeTextBold">EDINBA, CDMX</span> — Bachelor of Design</p>
        <span class="AboutMeTextAlt">August 2016 - July 2020</span>
        <p>Bachelor of Integral Multidisciplinary Design</p>
      </div>
      <div class="EducationContainer">
        <p class="AboutMeText"><span class="AboutMeTextBold">Universidad Modelo, Mérida, Yuc</span> — Student exchange</p>
        <span class="AboutMeTextAlt">August 2019 - Dicember 2019</span>
        <p>Interactive design and fashion design</p>
      </div>

    </div>
    <div class="AboutMeImageRight">
      <img src="/assets/images/school.jpg" alt="">
    </div>
  </div>
  <!-- Section End -->

  <!-- Section Start -->
  <div class="AboutMeTitleContainer">
    <p class="AboutMeTitle">CAREER PATH</p>
  </div>

  <div class="AboutMeContainer">
    <div class="PathContainer">
      <div class="PathEntryContainer">
        <p class="AboutMeText"><span class="AboutMeTextBold">PIMPO Printing House</span> — Designer</p>
        <span class="AboutMeTextAlt">June - September 2015</span>
        <p class="AboutMeText">Graphic design and pre-press work.</p>
      </div>
      <div class="PathEntryContainer">
        <p class="AboutMeText"><span class="AboutMeTextBold">OPPS JEANS, CDMX</span> — Designer and illustrator</p>
        <span class="AboutMeTextAlt">January 1 - February 29, 2020</span>
        <p class="AboutMeText">Analysis of market trends for the development and design of prints for garments.</p>
      </div>
      <div class="PathEntryContainer">
        <p class="AboutMeText"><span class="AboutMeTextBold">Schiller Americas, CDMX</span> — UX / UI Designer jr</p>
        <span class="AboutMeTextAlt">June 10, 2020 - May 28, 2021</span>
        <p class="AboutMeText">Interface design, web programming, animations, and graphics required for the platforms developed in the company.</p>
      </div>
      <div class="PathEntryContainer">
        <p class="AboutMeText"><span class="AboutMeTextBold">Arca México, CDMX</span> — Art, Design and Illustration</p>
        <span class="AboutMeTextAlt">June 21, 2021 - Currently</span>
        <p class="AboutMeText">Direction of branding art and art marketing projects, graphic design, illustrations and web development.</p>
      </div>
      <div class="PathEntryContainer">
        <p class="AboutMeText"><span class="AboutMeTextBold">Freelance </span> — Designer and illustrator</p>
        <span class="AboutMeTextAlt">2016 - Currently</span>
        <p class="AboutMeText">Developing graphic design and illustration work.</p>
      </div>
    </div>
  </div>
  <!-- Section End -->

  <!-- Section Start -->
  <div class="AboutMeTitleContainer">
    <p class="AboutMeTitle">ACKNOWLEDGMENTS AND COLABORATIONS</p>
  </div>

  <div class="AboutMeContainer">
    <div class="PathContainer">
      <div class="PathEntryContainer">
        <p class="AboutMeTextBold">Punto de Partida</p>
        <span class="AboutMeTextAlt">May 2020</span>
        <p class="AboutMeText">Illustration and comic script published in the May 2020 issue of the magazine</p>
      </div>
      <div class="PathEntryContainer">
        <p class="AboutMeTextBold">Ilustrarama</p>
        <span class="AboutMeTextAlt">June 2020</span>
        <p class="AboutMeText">Posted by Illustrarama Magazine as Illustrator of the Week and collaborating on two of the podcast episodes</p>
      </div>
    </div>
  </div>
  <!-- Section End -->

</div>
