---
layout: layouts/base.njk
title: Illustration
eleventyNavigation:
---

<div class="MarginContainer">
  <div class="ImageViewContainer">
    <a class="ButtonBack" href="http://localhost:8080/work/">
      <i class="ButtonBackIcon" data-feather="arrow-left"></i>
      BACK
    </a>
    <div class="ImageView">
      <img src="/assets/images/RedBull2019.png" alt="">
    </div>
    <div class="ImageTitleContainer">
      <p class="ImageTitle">INNVICTUS</p>
      <p class="ImageSubTitle">DD/MM/AAAA</p>
    </div>
  </div>
</div>
